<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="style.css" type="text/css" rel="stylesheet"/>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
       
    <title>Add Promotions</title>
    <link rel="shortcut icon" type="image/png" href="http://weknowyourdreams.com/images/book/book-08.jpg"/>    
    </head>
    
    <body>
        <div class="container">
            <div class="col-md-6 col-md-offset-3" id="allInputs">
                <form action="BookstoreServlet" method="post">
                    <fieldset>
                        <legend>Add Promotions</legend>
                        <div class="input-group form-group">
                            <label for="percentage">Percentage</label>
                            <input type="text" class="form-control" name="percentage"id="percentage" required>
                        </div>
                        <div class="input-group form-group">
                            <label for="expiration">Expiration</label>
                            <input type="text" class="form-control" name="expiration"id="expiration" required>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>