<!DOCTYPE HTML>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="../CSS/style.css" type="text/css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
       
    <title>Thank You</title>
    <link rel="shortcut icon" type="image/png" href="http://weknowyourdreams.com/images/book/book-08.jpg"/>    
    </head>
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <a class="navbar-brand" href="#">Online Bookstore</a>
                    </div> 
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html"><span class="glyphicon glyphicon-home"></span></a></li>
                        </ul>
                        
                        <form class="navbar-form navbar-left">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Catalog">
                                <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                                </div>    
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
                            <li><a href="signin.html"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                        </ul>
                    </div>    
                
            </div>
        </nav>
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <form>
                    <fieldset>
                        <legend>Thank You For Registering!</legend>
                        <div class="form-group">
                            <p>Please login using the button in the top right.</p>
                        </div>
                    </fieldset>    
                </form>
            </div>    
        </div>
</html>