<!DOCTYPE HTML>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="../CSS/style.css" type="text/css" rel="stylesheet"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
       
    <title>User Profile</title>
    <link rel="shortcut icon" type="image/png" href="http://weknowyourdreams.com/images/book/book-08.jpg"/>  
    </head>
    <body>
        <#include "navbar.html">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" class="img-rounded" alt="Default Profile" width="200" height="200">
                    <p><a href="#">Edit Profile</a></p>
                </div>
                <div class="cold-md-2">
                    <p>Name: ....</p>
                    <p>Email: ....</p>
                    <p>Address: ....</p>
                    <p>Phone Number: ....</p>
                </div>
            </div>
        </div>
    </body>

</html>