<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link href="style.css" type="text/css" rel="stylesheet"/>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
       
    <title>Supplier and Shipment Info</title>
    <link rel="shortcut icon" type="image/png" href="http://weknowyourdreams.com/images/book/book-08.jpg"/>    
    </head>
    
    <body>
        <div class="container">
            <div class="col-md-6 col-md-offset-3" id="allInputs">
                <form action="BookstoreServlet" method="post">
                    <fieldset>
                        <legend>Shipment Info</legend>
                        <div class="input-group form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name"id="name" required>
                        </div>
                        <div class="input-group form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" name="address"id="address" required>
                        </div>
                        <div class="input-group form-group">
                            <label for="phone number">Phone Number</label>
                            <input type="text" class="form-control" name="phone number"id="phone number" required>
                        </div>
                        <p></p>
                        <p></p>
                        <legend>Contact Info</legend>
                        <div class="input-group form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name"id="name" required>
                        </div>
                        <div class="input-group form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" name="address"id="address" required>
                        </div>
                        <div class="input-group form-group">
                            <label for="phone number">Phone Number</label>
                            <input type="text" class="form-control" name="phone number"id="phone number" required>
                        </div>
                        
                    </fieldset>
        </div>
    
    </body>