#invalidPass{
    color:red;
    display:none;
    
}


.hoverDiv {
    background:#fff;
    
}

.hoverDiv:hover {
    background:#f5f5f5;
}

.glyphicon.glyphicon-remove {
	color:red;
}

.input-group {
	width:100%;
}
.glyphicon.glyphicon-ok {
	color:green;
}